<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magefox" translate="label" sortOrder="200">
            <label>Magento Fox</label>
        </tab>
        <section id="magefox" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Google Shopping</label>
            <tab>magefox</tab>
            <resource>Magefox_GoogleShopping::settings</resource>
            <group id="settings" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Google Shopping XML Feed?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>